{% extends "mylibrary/layout.html" %}
{% load static %}

{% block body %}
    <h2 class="page-header">{{ book.title }}</h2>
    <div class="book-details">
        <div>  
            <img class="book-cover" src="{{ book.image.url }}" alt="connect">
            <div class="book-details-btn-grid">
                <a class="btn btn-primary" href="{% url 'edit' book.id %}">Edit</a>
                <a href="{% url 'delete' book.id %}"><button class="btn btn-danger" type="submit">Delete</button></a>
                <a class="btn btn-primary book-details-author-button" href="{% url 'authorview' book.author.id %}">View Author</a>
            </div> 
        </div> 
        <div class="book-details-grid page-header">
            <div class="book-details-label">Author:</div>
            <div>{{ book.author.first_name }} {{ book.author.last_name }}</div>
            <div class="book-details-label">Publish Date:</div>
            <div>{{ book.publishDate }}</div>
            <div class="book-details-label">Page Count:</div>
            <div>{{ book.pageCount }}</div>
            <div class="book-details-label">Description:</div>
            <div>{{ book.description }}</div>
        </div>               
    </div>
{% endblock %}