{% extends "mylibrary/layout.html" %}
{% load static %}

{% block body %}
{% if message %}
        {{ message }}
    {% endif %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2 class="page-header">Update details</h2>
    <div class="form-row">
      <div class="form-item">
        <label>Title</label>
        <input type="text" name="title" value="{{ book.title }}">
      </div>
      <div class="form-item">
        <label>Author</label>
        <select name="author"  >
          {% for author in authors %}
              <option value="{{ author.id}}">{{ author.first_name }} {{ author.last_name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-item">
        <label>Publish Date</label>
        <input type="date" name="publishDate" value="{{ book.publishDate }}">
      </div>
      <div class="form-item">
        <label>Page Count</label>
        <input type="number" name="pageCount" min="1" value="{{ book.pageCount }}">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-item form-item-no-grow">
        <!-- <label>Cover</label>
        <input type="file" class="book-cover filepond" name="image"> -->
          {{ tform.as_p }}
      </div>
      <div class="form-item">
        <label>Description</label>
        <textarea name="description" >{{ book.description }}</textarea>
      </div>
    </div>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="{% url 'index' %}">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
  </form>  
{% endblock %}